.dezute{
    height: 500px;
    width: 300px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}
.dezedezej{
    justify-content: center;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
}
    input{
        margin: 2%;
        width: 40%;
        height: 4%;
        background-color: black;
    }

